include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include pos_eico_integration *.css
recursive-include pos_eico_integration *.csv
recursive-include pos_eico_integration *.html
recursive-include pos_eico_integration *.ico
recursive-include pos_eico_integration *.js
recursive-include pos_eico_integration *.json
recursive-include pos_eico_integration *.md
recursive-include pos_eico_integration *.png
recursive-include pos_eico_integration *.py
recursive-include pos_eico_integration *.svg
recursive-include pos_eico_integration *.txt
recursive-exclude pos_eico_integration *.pyc